<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Ninja Gold</title>
		<link type="text/css" rel="stylesheet" href='{{ url_for('static', filename="style.css")}}'>
	</head>
	<body>
		<div id="container">
			<h1>Your gold! {{gold}}</h1>
			<div class="block">
				Farm Money
				(Git 10 - 20 golds)
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="farm" />
					<input type="submit" value="Find Gold!"/>
				</form>
			</div>
			<div class="block">
				Cave Money
				(Git 5 - 10 golds)
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="cave" />
					<input type="submit" value="Find Gold!"/>
				</form>
			</div>
			<div class="block">
				House Monies
				(Git 2 - 5 golds)
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="house" />
					<input type="submit" value="Find Gold!"/>
				</form>
			</div>
			<div class="block">
				Casino Monies
				(Git 0 - 50 golds)
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="LetItRide" />
					<input type="submit" value="Find Gold!"/>
				</form>
			</div>
			
				{% for i in msg %}
					<p>{{i}}</p>
				{%endfor%}
	
			
		</div>

		
	</body>
</html>